<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="title-div">
      <a href="/"><h1><%= title %></h1></a>
    </div>
    <div class="form-div">
      <h1>Create an account</h1>
      <form action="" method="POST">
        <label for="first_name">First Name</label>
        <input name="first_name" placeholder="First Name" type="text" required />
        <label for="last_name">Last Name</label>
        <input name="last_name" placeholder="Last Name" type="text" required />
        <label for="username">Email</label>
        <input name="username" placeholder="Email" type="email" required />
        <label for="password">Password</label>
        <input name="password" type="password" required />
        <label for="confirm_password">Confirm Password</label>
        <input name="confirm_password" type="password" required />
        <button type="submit">Sign Up</button>
    </form>
    </div>
  </body>
</html>